@(message: String)

@main("Welcome to Play 2.1") {

    <div class="container">
        <div id="content">
            <h1> JMeter Maven Plugin </h1>
            <p> The JMeter Maven Plugin allows you to run your automated JMeter tests through Maven.</p>
            <p>Current Version: <span class="version">1.8.1</span></p>
            <ul>
                <li> <a href="https://github.com/Ronnie76er/jmeter-maven-plugin/wiki"> Wiki </a> </li>
                <li> <a href="https://github.com/Ronnie76er/jmeter-maven-plugin/wiki/Basic-Configuration"> Basic Configuration </a> </li>
                <li> <a href="https://github.com/Ronnie76er/jmeter-maven-plugin/wiki/Release-Notes"> Release Notes </a> </li>
            </ul>
        </div>
        <div id="twitter">
            <div>
                <a class="twitter-timeline" href="https://twitter.com/LazeryCode" data-widget-id="323063120593559554"> Tweets by &amp;LazeryCode </a>
                <script>
                        !function(d,s,id){
                            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                            if(!d.getElementById(id)){
                                js=d.createElement(s);
                                js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js,fjs);
                                }
                            }
                        (document,"script","twitter-wjs");
                </script>
            </div>
        </div>
    </div>
}
