@(message: String)

@main("Welcome to Play 2.1") {

<div class="container">
    <div id="content">
        <h1>JMeter Maven Plugin</h1>

        <p>The JMeter Maven Plugin allows you to run your automated JMeter tests through Maven.</p>

        <p>For more information, please visit:</p>

        <ul>
            <li><a href="https://github.com/Ronnie76er/jmeter-maven-plugin/wiki">Wiki</a></li>
            <li><a href="https://github.com/Ronnie76er/jmeter-maven-plugin/wiki/Basic-Configuration">Basic Configuration</a></li>
            <li><a href="https://github.com/Ronnie76er/jmeter-maven-plugin/wiki/Release-Notes">Release Notes</a></li>
        </ul>
    </div>
    <div id="twitter">
    <h3>Twitter Feed</h3>
    <p>
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
            new TWTR.Widget({
                version:2,
                type:'profile',
                rpp:6,
                interval:30000,
                width:250,
                height:300,
                theme:{
                    shell:{
                        background:'#fbfbfb',
                        color:'#444444'
                    },
                    tweets:{
                        background:'#000000',
                        color:'#ffffff',
                        links:'#4aed05'
                    }
                },
                features:{
                    scrollbar:true,
                    loop:false,
                    live:true,
                    behavior:'all'
                }
            }).render().setUser('LazeryCode').start();
        </script>
    </p>
    </div>
</div>
}
