@(message: String)

@main(title = "JMeter Maven Plugin") {

<div id="content">
    <h1>JMeter Maven Plugin</h1>

    <h4>The JMeter Maven Plugin Version 1.4 Has Been Released</h4>
    <br/>
    <p>Version 1.4 of the plugin has been released and it is now available from the main central maven repository, you no longer need to specify a repository to use in in your project. See the <a href="releasenotes.txt">release notes</a>.</p>

    <h4>How To Add The Plugin To The Build Section Of Your POM File</h4>

    <p>
        <br/>
        &lt;plugin&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;groupId&gt;com.lazerycode.jmeter&lt;/groupId&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;artifactId&gt;jmeter-maven-plugin&lt;/artifactId&gt;<br/>

        &nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;1.4&lt;/version&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;executions&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;execution&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;id&gt;jmeter-tests&lt;/id&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;phase&gt;verify&lt;/phase&gt;<br/>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;goals&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;goal&gt;jmeter&lt;/goal&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/goals&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/execution&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/executions&gt;<br/>

        &lt;/plugin&gt;
    </p>

    <h4>More Information</h4>
    <br/>
    <p>This site is still under construction and doesn't yet have all of the plugin information that is available.  For more detailed information clone the project from github and perform a mvn site:run.  You can then access the current documentation via <a href="http://localhost:8080
" target="_blank">http://localhost:8080</a>.
</div>

}